@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Raleway&family=Roboto&display=swap');

html, body {
  height: 100%;
  width: 99.5%;
}

div.Sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 1;
}
.Header {
          border: 3px solid black;
          background-color: #00ff00;
          text-align: left;
          padding: 15px;
          font-family: Raleway;
          width: 100%;
          margin-right: 830px;
        }

.Padded {
          padding: 20px;
          text-align: left;
          position: relative;
          top: 175px;
          z-index: 0;
    }
    
.ben10{
        float: left;
    }

.Selected{
  width: 20%;
  border: 3px solid black;
  background-color: #00ff00;
  color: black;
  text-align: center;
  float:left;
  position: sticky;
  top: 0;
  font-family: Raleway;
}

.UnSelected{
  width: 20%;
  border: 3px solid black;
  background-color: gray;
  color: black;
  text-align: center;
  float:left;
  position: sticky;
  top: 0;
  font-family: Raleway;
}


/* added this css */
h1 img {
  margin-top: -10px;
}

h1 span {
  vertical-align: top;
}
